body {
  font-family: sans-serif;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .sidebar, .results {
    overflow-y: auto;
    height: 100%;
  }
  .page-row {
    height: calc(100vh - 56px);
  }
}

.input-range {
  margin-top: 15px;
  margin-bottom: 30px;
}

form div.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

